h1 {
  margin: 0px; 
  padding: 0px;
font-family: Tahoma, Geneva, sans-serif;
font-weight:normal;
padding-top: 20px; 	
padding-left: 45px; 
width: 300px; 
}

.body {
	background-color: #e0e0e0; 
	margin: 0px; 
	padding: 0px;
	position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
}

.banner {
vertical-align:middle;
border-bottom: solid 1px #e0e0e0;
background-color: #272727;
color: #e0e0e0;
padding: 0 10px 0 10px; 
height: 80px;
}

.banner .wrap {
 background-image:url('../image/bannergrad.jpg');
 background-repeat: no-repeat;
 background-position: 0px;	
 height: 80px; 
}

.content {
 padding: 10px; 
 background-image:url('../image/maingrad.jpg');
 min-height: 200px; 
 background-repeat: repeat-x;
}

.wrap {
	width: 800px; 
	display: block;
    margin-left: auto;
    margin-right: auto
}

.menu { float: right; margin-right: 160px; 
margin-top: 15px; }

.menu ul li{
 font-family: Tahoma, Geneva, sans-serif;
 display: inline;
 list-style-type: none;
 padding: 15px 20px 10px 20px;
 margin-left: 10px; 
 background: #444;
 text-align: center;
 border-bottom: solid 1px red;
}

.menu ul li a {
  color: white; 
  text-decoration: none;
  width: 100px; 
  display: table-cell;
  float: right; 
  
}
