body {
	background-color: #e0e0e0; 
}

h1 {
  margin: 0px; 
  padding: 0px;
/* font-family: Tahoma, Geneva, sans-serif; */
font-family: 'Open Sans', sans-serif;
padding-top: 20px; 	
padding-left: 45px; 
width: 300px; 
}

h1 a { 
 font-family: Tahoma, Geneva, sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-weight:normal;
 color: white; 
 text-decoration: none;
 font-weight: thin;
}

.body {
	background-color: #e0e0e0; 
	margin: 0px; 
	padding: 0px;
	position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
}

.banner {
vertical-align:middle;
border-bottom: solid 1px #e0e0e0;
background-color: #272727;
color: #e0e0e0;
padding: 0 10px 0 10px; 
height: 80px;
}

.banner .wrap {
 background-image:url('../image/bannergrad.jpg');
 background-repeat: no-repeat;
 background-position: 0px;	
 height: 80px; 
}

.content {
 padding: 10px; 
 background-image:url('../image/maingrad.jpg');
 min-height: 200px; 
 background-repeat: repeat-x;
}

.wrap {
	width: 800px; 
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu { float: right; margin-right: 160px; 
margin-top: 15px;  }

.menu ul li{
 font-family: Tahoma, Geneva, sans-serif;
 display: inline;
 list-style-type: none;
 padding: 2px 15px 4px 15px;
 margin-left: 10px; 
 background: #333;
 text-align: center;
 border-bottom: solid 1px #444;
 background-image: url('../image/buttongrad.png'); 
 background-position: right bottom;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}

.menu ul li a {
  color: white; 
  text-decoration: none;
  font-size: 12px;
  width: 100px; 
}

.menu ul li  a.active {
  color: red; 
}

.home {
 background-image:url('../image/home.png');

}

.block-box {
	width: 640px; 
	height: 500px; 
	background-color: #e0e0e0; 

 border: solid 15px #272727;
 border-radius:10px;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 padding: 20px; 	
}

.black-box-map
{
	background-color: #272727; 
}
