body {
 background-color: #e0e0e0; 
 font-family: Tahoma, Geneva, sans-serif;
}

h1, h2 {
  margin: 0px; 
  padding: 0px;
/* font-family: Tahoma, Geneva, sans-serif; */
font-family: 'Open Sans', sans-serif;
padding-top: 20px; 	
padding-left: 135px; 
width: 300px; 
}

h1 a { 
 font-family: Tahoma, Geneva, sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-weight:normal;
 color: white; 
 text-decoration: none;
 font-weight: thin;
}

.body {
 background-color: #e0e0e0; 
 margin: 0px; 
 padding: 0px;
 position: absolute;
 top: 0; right: 0; bottom: 0; left: 0;
}

.banner {
vertical-align:middle;
border-bottom: solid 1px #e0e0e0;
background-color: #272727;
color: #e0e0e0;
padding: 0 10px 0 10px; 
height: 80px;
}

.banner .wrap {
 background-image:url('../image/logo.png');
 background-repeat: no-repeat;
 background-position: 1px;	
 height: 80px; 
}

.content {
 padding: 10px; 
 background-image:url('../image/maingrad.jpg');
 min-height: 200px; 
 background-repeat: repeat-x;
}

.wrap {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.menu { float: right; margin-right: 12px; 
margin-top: 15px;  }

.menu ul li{
 font-family: Tahoma, Geneva, sans-serif;
 display: inline;
 list-style-type: none;
 padding: 2px 15px 4px 15px;
 margin-left: 10px; 
 background: #333;
 text-align: center;
 border-bottom: solid 1px #444;
 background-image: url('../image/buttongrad.png'); 
 background-position: right bottom;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
}

.menu ul li a {
 color: white; 
 text-decoration: none;
 font-size: 12px;
 width: 100px; 
}

.menu ul li  a.active {
 color: red; 
}

.home {
 background-image:url('../image/home.png');
}

.block-center {
 margin-left: auto;
 margin-right: auto;
}

.block-txt {
width: 640px; 
padding: 10px; 	
margin-left: auto;
 margin-right: auto;
}

.block-box {
width:100%; 
height: 500px; 
background-color: #e0e0e0; 
border-top: solid 15px #272727;
border-bottom: solid 15px #272727;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
text-align: center; 
margin-left: auto;
margin-right: auto;
}

.block-box p {
text-align: justify;
}

.black-box-map
{
 background-color: #272727; 
}

.block-small {
 margin-left: auto;
 margin-right: auto;
 background-color: #272727;
 padding: 15px; 
 text-align:center; 
 width: 300px; 
 border-radius:20px;
 -moz-border-radius:20px;
 -webkit-border-radius:20px;
}

.block-download {
  color: white; 
  padding: 20px; 
  border: #666 solid 1px; 
}

.block-download a{
  color: white; 
  padding: 20px; 
  margin: 5px;
}

.list li
{
 text-align: left; 
}

.block-qr {
 margin: 15px;
 display:inline-block;
 text-align:center;
 border: 1px solid #666; 	
}

.block-desc {
 margin-left: auto;
 margin-right: auto;
 text-align: center; 
}

.block-buttons {
}

.block-buttons ul 
{
	padding-left: 0px; 
}

.block-buttons li
{
 padding: 5px; 
 list-style: none; 
 margin-left: 0px;
 padding-left: 0px;  
 text-align: center; 
}

.block-buttons li a
{
 padding: 10px; 
 /*width: 650px; */
 display: block; 
 text-decoration: none; 
 border-radius:10px;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
}

.block-buttons li.top a.top_a
{
 color: white; 
 background-color: black; 
 background: url("../image/buttongrad_l.png") repeat scroll center #333333;
}

.block-buttons li ul li a#orange
{
 color: white; 
 background: url("../image/buttongrad_lt.png") center #F9461C;
}

.block-buttons li a#brown
{
 color: white; 
 background: url("../image/buttongrad_lt.png") center #62361B;
}

.block-buttons li a#green
{
 color: white; 
 background: url("../image/buttongrad_lt.png") center #009B3A;
}

.block-buttons li a#pink
{
 color: white; 
 background: url("../image/buttongrad_lt.png") center #E27EA6;
}

.block-buttons li a#blue
{
 color: white; 
 background: url("../image/buttongrad_lt.png") center #00A1DE;
}

.block-buttons li a#yellow
{
 color: white; 
 background: url("../image/buttongrad_lt.png") center #F9E300;
}

.block-buttons li a#purple
{
 color: white; 
 background: url("../image/buttongrad_lt.png") center #522398;
 }

.block-buttons li a#red
{
 color: white; 
 background: url("../image/buttongrad_lt.png") center #C60C30;
}

.level1
{
 display:none; 
}

.level2
{
 color: red;
 background-color: #eee;  
 background-position: center;
 border-radius:10px;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
}


#loadingDiv
{
/*make visible*/
display:block;

/*position it 200px down the screen*/
position:absolute;
top:50%;
left:50%;
width:100px;
/*in supporting browsers, make it
  a little transparent*/
background:#fff;
filter: alpha(opacity=75); /* internet explorer */
-khtml-opacity: 0.75;      /* khtml, old safari */
-moz-opacity: 0.75;       /* mozilla, netscape */
opacity: 0.75;           /* fx, safari, opera */
border-top:1px solid #ddd;
border:3px solid black;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10p
}
