*.swp
*.mo *.egg-info
*.egg
*.EGG
*.EGG-INFO
*.DS_Store
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
mobiletrans/settings/local.py
node_modules
.project
.pydevproject
mobiletrans/components/*
