Django==1.6.1
PIL==1.1.7
South==0.7.3
argparse==1.2.1
cssmin==0.1.4
distribute==0.6.24
django-appconf==0.5
django-autoslug==1.4.1
django-compressor==1.1.2
django-extensions==1.0.3
django-piston==0.2.3
ipython==0.11
psycopg2==2.4.2
pyproj==1.9.3
python-google-places==0.9.1
versiontools==1.9.1
wsgiref==0.1.2
