from mobiletrans.settings.base import *

DEBUG = True

#ADMINS = (
#    # ('Your Name', 'your_email@example.com'),
#)
#
#MANAGERS = ADMINS
#
#DATABASES = {
#    'default': {
#        'ENGINE': 'django.contrib.gis.db.backends.postgis',
#       'NAME': 'windytransit',
#        'USER': 'windytransit',
#        'PASSWORD': '',
#        'HOST': '',
#        'PORT': '',
#    }
#}
