{% extends "base.html" %}


{% block active_download %}active{% endblock %}

{% block content %}

<div class="block-center block-box">
	 <h2 class="block-title">Download</h2>
  <p>{{ site.name }} can be found in the Android App store.  Visit your local neighborhood Android Market for download information.</p>
  <div class="block-small">
  	<div class="block-download"><a href="https://market.android.com/details?id=com.mobiletrans">Download Here</a></div>
  </div>

  <div class="block-qr"><img src="{{ STATIC_URL }}image/qr.jpg"></div>

</div>




{% endblock content %}
	
