{% extends "base.html" %}


{% block extra_head %}{{ block.super }}
 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

$(document).ready(function(){

	var markersArray = [];

	var myLatlng = new google.maps.LatLng(41.875696,-87.624207);
	var myOptions = {
	  zoom: 11,
	  center: myLatlng,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	    
	//var ctaLayer = new google.maps.KmlLayer('{{ url }}');
	//ctaLayer.setMap(map);

    google.maps.event.addListener(map, 'click', function(event) {
      deleteOverlays();
      addMarker(event.latLng);
	  var ctaLayer = new google.maps.KmlLayer('{{ url }}&lat=' + event.latLng.lat() + '&long=' + event.latLng.lng() );
	  ctaLayer.setMap(map);
    });
    
    
    function addMarker(location) {
    marker = new google.maps.Marker({
      position: location,
      map: map
    });
    markersArray.push(marker);
    }
    
    // Deletes all markers in the array by removing references to them
	function deleteOverlays() {
	  if (markersArray) {
	    for (i in markersArray) {
	      markersArray[i].setMap(null);
	    }
	    markersArray.length = 0;
	  }
	}

	// Display aJax loading box
	$('#loadingDiv')
	    .hide()  // hide it initially
	    .ajaxStart(function() {
	        $(this).show();
	    })
	    .ajaxStop(function() {
	        $(this).hide();
	    })
	;

	
	// Show Transit Routes 
    $(".block-buttons li.top a.top_a").click(function () {
      $(".block-buttons .level1").slideToggle("slow");
      return false; 
    });

	// Show transit stops
    $(".block-buttons li.level1 a.level1_a").click(function () {
	  var clicked_element = $(this);
	  var clicked_parent = clicked_element.parent();
	  /* alert(clickec_element); */
	 
	 if ( clicked_parent.children('ul').children('li.level2').size() == 0 ) {
	      $.getJSON(clicked_element.attr('href'), 
	        function(data) {
	        	var route = data.transit_route;
	
				ul = $('<ul>');
				$.each(route.stops,
				function( intIndex, objValue )
				{
					 kml = '{% url "mtlocation_renderkml" %}?lat=' + objValue.point.lattitude + "&long=" + objValue.point.longitude;
					 a = $("<a/>").attr("href",kml).attr('class','level2_a').css("color",clicked_element.css('background-color')).text(objValue.name);
					 li = $('<li>').attr("class",'level2').append(a);
					 ul.append(li);
				});
				clicked_parent.append(ul);
			});
   		}
   		else
   		{
   			clicked_parent.children('ul').children('li.level2').toggle('slow');
   		}
   	   
      return false; 
    });

    $(".block-buttons li.level2 a.level2_a").live('click', function () {
      var ctaLayer = new google.maps.KmlLayer(this);
	  ctaLayer.setMap(map);
	  $('li.top').children('ul').children('li').hide();
      return false; 
    });

});

</script>

{% endblock extra_head %}

{% block active_index %}active{% endblock active_index %}

{% block content %}
<div id='loadingDiv'>Loading..<img src="{{ STATIC_URL }}/image/ajax-loader.gif" alt="loading"></div>

<div class="block-center block-buttons">
<ul>
<li class="top"><a class="top_a" href="">Find a Train Stop</a>
	<ul>
	<li class="level1"><a class="level1_a btn" id="red" href="/api/2/transitroutes/Red/transitroute.json">Red Line</a></li>
	<li class="level1"><a class="level1_a btn" id="blue" href="/api/2/transitroutes/Blue/transitroute.json">Blue Line</a></li>
	<li class="level1"><a class="level1_a btn" id="orange" href="/api/2/transitroutes/Org/transitroute.json">Orange Line</a></li>
	<li class="level1"><a class="level1_a btn" id="purple" href="/api/2/transitroutes/P/transitroute.json">Purple Line</a></li>
	<li class="level1"><a class="level1_a btn" id="pink" href="/api/2/transitroutes/Pink/transitroute.json">Pink Line</a></li>
	<li class="level1"><a class="level1_a btn" id="green" href="/api/2/transitroutes/G/transitroute.json">Green Line</a></li>
	<li class="level1"><a class="level1_a btn" id="yellow" href="/api/2/transitroutes/Y/transitroute.json">Yellow Line</a></li>
	<li class="level1"><a class="level1_a btn" id="brown" href="/api/2/transitroutes/Brn/transitroute.json">Brown Line</a></li>
	</ul>
</li>

</ul>
</div>

<div class="block-center block-desc">
<p>Click the map within Chicago to locate nearby landmarks and determine the neighborhood.</p>
</div>

<div class="block-center block-box black-box-map">

<div id="map_canvas" style="width:100%; height:100%"></div>
{# <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;q={{ url }}&amp;ie=UTF8&amp;om=1&amp;ll=41.881944,-87.627778&amp;spn=0.006776,0.013733&amp;z=12&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q{}&amp;hl=en&amp;q={{ url }}&amp;ie=UTF8&amp;om=1&amp;ll=48.858193,2.289619&amp;spn=0.006776,0.013733&amp;z=17&amp;source=embed" style="color:white;text-align:left">View Larger Map</a></small>  #}

</div>


{% endblock content %}
	