{% extends "base.html" %}


{% block extra_head %}{{ block.super }}

<script type="text/javascript">

function main() {
    
    // Check for geoLocation Support
    if (navigator.geolocation) {
        // YES                                                      
        // snapshot of position: 
        //navigator.geolocation.getCurrentPosition(renderPosition, renderError);
        // updating position:
        navigator.geolocation.watchPosition(renderPosition, renderError);
    } else {
        // NO
        $('#geoResults').html('<p>Your browser does not support geolocation.</p>');
    }
}

//jQuery to render the output
function renderPosition(position) 
{
  
$.get('{% url index %}', 
  { lat: position.coords.latitude, lon: position.coords.longitude }
}

function renderError() {
    $('#georesults').html('<p>The page could not get your location.</p>');
}


</script>

{% endblock extra_head %}

{% block active_index %}active{% endblock active_index %}

{% block content %}

<!-- 
<div class="block-txt">
	<div class="coords">
	Latitude: <span class="coordinates" id="latitude"></span>
	Longitude: <span class="coordinates" id="longitude"></span>
	</div>
</div>
-->

<div class="block-box black-box-map">

<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;q={{ url }}&amp;ie=UTF8&amp;om=1&amp;ll=41.881944,-87.627778&amp;spn=0.006776,0.013733&amp;z=12&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q{}&amp;hl=en&amp;q={{ url }}&amp;ie=UTF8&amp;om=1&amp;ll=48.858193,2.289619&amp;spn=0.006776,0.013733&amp;z=17&amp;source=embed" style="color:white;text-align:left">View Larger Map</a></small> 

</div>


{% endblock content %}
	